
   .navbar {
    margin-bottom: 50px;
    border-radius: 0;
  }
  
   .jumbotron {
    margin-bottom: 0;
  }
  footer {
    background-color: #f2f2f2;
    padding: 25px;
  }
  
  @media screen and (max-width: 996px) {
    article{
      flex: 1 1 500px;
    }
}
  
  @media screen and (max-width: 768px) {
    article{ 
        flex: 1 1 300px;
    }
  }

 